---
---


@import "{{ site.theme }}";

.page-header {
  background-image: linear-gradient(0deg, #2C3E50, #2C3E50);
}


body {
  background-color: #fff;
  font-family: serif;

}

.main-content h1,
.main-content h2,
.main-content h3,
.main-content h4,
.main-content h5,
.main-content h6 {
  color: #2F4456;
}
