---
---

@import "{{ site.theme }}";

.page-header {
  background-image: linear-gradient(42deg, #59837A, #2F4456);
}

body {
  background-color: #E1DEC2;
}

.main-content h1,
.main-content h2,
.main-content h3,
.main-content h4,
.main-content h5,
.main-content h6 {
  color: #2F4456;
}